#list-view {
    display: flex;
    flex-direction: column;
}

.track {
    display: flex;
    width: 710px;

    color: #242423;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: 10px 0px 10px 0px;
}

.track-list-head {
    font-weight: bold;
}

.track-stat {
    width: 100px;
}

.track-name {
    width: 400px;
}

.track-num {
  padding-left: 15px;
  width: 50px;
}

.color1 {
    background-color: rgba(255, 255, 255, 0.2);
}

.color2 {

}