#ResultsPage {
    background-color: #dec056;

    display: flex;
    flex-direction: column;

    color: #242423;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#results-head {
    margin-left: 50px;

    display: flex;
    align-items: center;

    color: #242423;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

#back-button {
    background-color: #242423;
    color: #dec056;
    padding: 0px 10px 2px 10px;
    font-size: 36px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.search-term {
    font-style: normal;
    font-weight: bold;
}

#results-grid {
    width: calc(100% - 50px);
    padding-left: 50px;


    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 300px;
    grid-gap: 2em;

    -webkit-overflow-scrolling: touch;
}

.album-card img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 920px) {
    #results-grid {
        grid-template-columns: repeat(auto-fill, minmax(25%, 25%));
        grid-auto-rows: 250px;
        grid-gap: 1em;

        font-size: 12px;
    }
}

@media only screen and (max-width: 550px) {
    #results-grid {
        grid-template-columns: repeat(auto-fill, minmax(25%, 25%));
        grid-auto-rows: 150px;
        grid-gap: 1em;
    }

    #results-head {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #back-button {
        background-color: #242423;
        color: #dec056;
        padding: 2px 8px 3px 8px;
        font-size: 18px;
        border-radius: 100px;
        cursor: pointer;
        margin-right: 10px;
    }
}