* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}